<h1>your controls</h1>

<% @triggers.each do |trigger| %>
	<div class="trigger">
		<div class="title">
			<p>When <em><%= trigger.trigger %></em> please <em><%= trigger.action %></em></p>
			<%= link_to trigger_url(trigger), method: 'delete' do %>
				<div class="x">&times;</div>
			<% end %>
		</div>
		<div class="trigger-img"><%= image_tag(find_icon(trigger.trigger)) %></div>
		<div class="arrow-area"><div class="arrow"><%= image_tag("arrow.png") %></div></div>
		<div class="action-img"><%= image_tag(find_icon(trigger.action)) %></div>
	</div>
<% end %>

<%= link_to new_trigger_url do %>
	<div class="trigger last">
		<div class="add">&plus;</div>
	</div>
<% end %>

<div class="box">
  <div class="container-4">
    <input type="search" id="search" placeholder="Search..." />
    <button class="icon"><i class="fa fa-search"></i></button>
  </div>
</div>