<!DOCTYPE html>
<html>
<head>
  <title>Zense</title>
  <link href='http://fonts.googleapis.com/css?family=Quicksand:400,700|Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="core wrapper">
	<header>
		<div class="mobile-nav menu-icon">
			<%= image_tag "menu-icon.png" %>
		</div>
		<div class="logo">
			<%= link_to controls_url do %>
				<%= image_tag("zense.png") %>
			<% end %>
		</div>
		<nav>
 			<ul class="mobile">
        <li><%= link_to "Your Controls", controls_url %></li>
 				<li><a href="events.php">Sensory Sensitivity Quiz</a></li>
 				<li><a href="news.php">More Information</a></li>
 			</ul>
 		</nav>
	</header>

	<div class="content">
		<%= yield %>
	</div>

	<div class="push">
	</div>
</div>
<footer>
</footer>


<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</body>
</html>
